@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: 'SourceSansPro-Bold';
    src: url('SourceSansPro-Bold.ttf');
}

body{
    padding: 0px;
    margin: 0px;
    font-family: "SourceSansPro-Regular";
}

.butt{
    padding: 10px;
    padding-left:20px;
    padding-right: 20px;
    box-shadow: none;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    z-index: 2;
}

nav > ul > li{
    float: left;
    display: block;
    padding-right: 80px;
    line-height: 52px;
}

nav{
    display: block;
    height: 85px;
}

nav > ul{
    padding-left: 100px;
    display: block;
    float: left;
}

nav > .logo{
    padding: 0px;
    display: block;
    float: left;
}

nav > #rightSideButtons{
    float: right;
    margin-right: 50px;
    margin-top: 20px;
}

nav > #rightSideButtons > button{
    margin-left: 10px;
}

#content{
    margin-left:auto;
    margin-right: auto;
    width: 90%;
    margin-top: 50px;
}

#content-b{
    margin-left:auto;
    margin-right: auto;
    width: calc(100% - 68px);
    margin-top: 20px;
}

h1{
    font-size: 42px;
}

#content > #left{
    float: left;
    width: 50%;
}

#content > #right{
    float: right;
    width:50%;
}

#content > #right > #biglogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

}

.selection-bar{
    font-size:20px;
    height: 20px;
    width: 100%;
    color:#b2b2b2;
    text-shadow: 0px 4px 4px #00000060;
    margin-bottom: 30px;
}

.selection-bar-end{
    display: inline-block;
    width: calc(100% - 188px);
    height: 2px;
    margin-left:20px;
    margin-bottom: 4px;
}

.art-image-place{
    height: 90px;
    width: 90px;
    float:left;
}

.art-image{
    width: 74px;
    height: 74px;
    margin: 8px;
    border-radius: 5px;
    background-color: black;
}

.art-caption-place{
    height:74px;
    width: 240px;
    margin:8px;
    color: #abc1dd;
    font-size: 20px;
    font-style: bold;
    float:left;
}

.art-title{
    font-size: 24px;
    height: 24px;
    padding-bottom: 1px;
    font-family: "SourceSansPro-Bold";
}
.art-type{
    font-size:12px;
    height: 12px;
    margin-top: 5px;
}

.art-mapper{
    margin-top: 16px;
    font-size: 10px;
}

.art-mapper-avatar{
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background-color: black;
}

.art-buttons{
    float: right;
}

.art-buttons > button{
    margin-top: 8px;
    margin-right: 4px; 
    height: 74px;
}

.art-buttons > button:last-child{
    margin-right: 8px; 
}

.art-progressbar-place{
    float: left;
    height:74px;
    margin: 8px;
    margin-left: 10px;
    width: calc(100% - 700px);
}

.art-thumbs-place{
    height: 74px;
    margin: 8px 24px 8px 8px;
    float: left;
}

.art-thumbsup-place{
    float:left;
    height: 74px;
    line-height:74px;
    margin-right: 10px;
}

.art-thumbsdown-place{
    float:left;
    height: 74px;
    line-height:74px;
    margin-left:10px;
}

.art-likes-place{
    float:left;
    line-height:74px;
    height: 74px;
    font-size: 20px;
    color: #abc1dd;
}

.thumbimage:hover{
    cursor:pointer;
    filter: invert(41%) sepia(9%) saturate(763%) hue-rotate(202deg) brightness(92%) contrast(91%);
}

.thumbimage-up{
    translate: 0px 5px;
    height:30px;
}

.thumbimage-down{
    translate: 0px 10px;
    height:30px;
}

.art-progressbar{
    background-color: #191919;
    height:26px;
    border-radius: 5px;
}

.art-progressbar-progress{
    background-color: #abc1dd;
    height:26px;
    border-radius: 5px;
}

.art-progressbar-caption{
    height: 48px;
}

.art-bar{
    margin-bottom: 16px;
}

.button-history{
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    display: block;
    height: 45px;
    width: 250px;
}

.button-history-place{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}